version: "2"

services:
  redis:
    image: "bitnami/redis:5.0"
    environment:
      - REDIS_PASSWORD=pw123
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - "6379:6379"
    volumes:
      - "redis_data:/bitnami/redis/data"

volumes:
  redis_data:
    driver: local
